*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    background-color: #faefef;
}
.comments-group{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    
}

.title{
    margin-top: 30px;
    font-size: 30px;
}
.commets-list{
    width: 100%;
    
    margin: 20px 0;
}
.comments-item{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 3px #000;
}
.comments-item__not{
    text-align: center;
    font-size: 18px;
}
.comments-item__header{
    display: flex;
    justify-content: space-between;
    background-color: #eae5e5;
    padding: 5px;
}

.comments-item__header-item{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.comments-item__like {
    color:rgb(171, 166, 166);
    cursor: pointer;
}
.comments-item__like.active{
    color:red;
}
.comments-item__delete{
    margin-left: 20px;
    color:red;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.2s;
}
.comments-item__delete:hover{
    transform: scale(1.2);
}
.comments-item__name{
    margin-right: 10px;
}
.comments-item__text{
    padding: 10px;
    background-color: #faf4f4;
    line-height: 1.3;
}



.comment-form{
    margin-top: 50px;
    width: 70%;
    background-color: #f0eeee;
    box-shadow: 0 0 3px 5px#c7c5c5;
    padding: 20px;
    border-radius: 4px;
}

.form-row{
    display: flex;
    justify-content: space-between;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.form__item{
    margin: 10px 0;
    border: 1px solid #989696;
    border-radius: 4px;
    padding: 5px;
}

.form__item-textarea{
    height: 100px;
    width: 100%;
    resize: none;
}

.form__item:focus{
    box-shadow: 0 0 3px 5px#c7c5c5;
}

.error .form-item{
    border: 2px solid red;
}

.error-text{
    color: red;
}

.comment-submit{
    width: 140px;
    height: 30px;
    border-radius: 4px;
    margin: 0 auto;
    background-color: rgb(126, 237, 126);
    box-shadow: 3px 3px 3px rgb(74, 112, 74);
    transition: all 0.3s;
}

.comment-submit:hover{
    transform: scale(1.1);
}